/* Used to center searchbar - temporary, just to demonstrate functionality */

#container {
    height: 100vh;
    justify-content: center;
}

#searchCard {
    width: 70%;
}

iframe {
    margin: 0 auto
}

body {
    background-size: cover;
}

#netflix, #imdb {
    display: none;
} 